<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc-setup:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc_setup_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc-setup" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.3.20" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.3.20" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.3.20" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.3.20" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.3.20" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.3.20" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.3.20" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.3.20" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.3.20" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.3.20" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-jpa:2.7.0" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-commons:2.7.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-orm:5.3.20" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.32" />
          <element id="library" level="project" name="Maven: jstl:jstl:1.2" />
          <element id="library" level="project" name="Maven: org.thymeleaf:thymeleaf:3.0.15.RELEASE" />
          <element id="library" level="project" name="Maven: ognl:ognl:3.1.26" />
          <element id="library" level="project" name="Maven: org.javassist:javassist:3.20.0-GA" />
          <element id="library" level="project" name="Maven: org.attoparser:attoparser:2.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.unbescape:unbescape:1.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.thymeleaf:thymeleaf-spring5:3.0.15.RELEASE" />
          <element id="library" level="project" name="Maven: nz.net.ultraq.thymeleaf:thymeleaf-layout-dialect:3.1.0" />
          <element id="library" level="project" name="Maven: org.apache.groovy:groovy:4.0.0" />
          <element id="library" level="project" name="Maven: nz.net.ultraq.groovy:groovy-extensions:2.0.0" />
          <element id="library" level="project" name="Maven: nz.net.ultraq.thymeleaf:thymeleaf-expression-processor:3.1.0" />
          <element id="library" level="project" name="Maven: org.thymeleaf.extras:thymeleaf-extras-java8time:3.0.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter:5.8.2" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-api:5.8.2" />
          <element id="library" level="project" name="Maven: org.opentest4j:opentest4j:1.2.0" />
          <element id="library" level="project" name="Maven: org.junit.platform:junit-platform-commons:1.8.2" />
          <element id="library" level="project" name="Maven: org.apiguardian:apiguardian-api:1.1.2" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-params:5.8.2" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-engine:5.8.2" />
          <element id="library" level="project" name="Maven: org.junit.platform:junit-platform-engine:1.8.2" />
          <element id="library" level="project" name="Maven: org.json:json:20220320" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:8.0.30" />
          <element id="library" level="project" name="Maven: com.google.protobuf:protobuf-java:3.19.4" />
          <element id="library" level="project" name="Maven: org.mariadb.jdbc:mariadb-java-client:3.0.5" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.5.6" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis-spring:2.0.7" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.13.3" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.13.3" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.13.3" />
          <element id="library" level="project" name="Maven: commons-dbcp:commons-dbcp:1.4" />
          <element id="library" level="project" name="Maven: commons-pool:commons-pool:1.5.4" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-core:1.2.9" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-classic:1.2.9" />
          <element id="library" level="project" name="Maven: org.codehaus.janino:janino:3.0.14" />
          <element id="library" level="project" name="Maven: org.codehaus.janino:commons-compiler:3.0.14" />
          <element id="library" level="project" name="Maven: org.bgee.log4jdbc-log4j2:log4jdbc-log4j2-jdbc4:1.16" />
          <element id="library" level="project" name="Maven: org.projectlombok:lombok:1.18.0" />
          <element id="library" level="project" name="Maven: org.apache.commons:commons-lang3:3.12.0" />
          <element id="library" level="project" name="Maven: commons-io:commons-io:2.11.0" />
          <element id="library" level="project" name="Maven: commons-fileupload:commons-fileupload:1.4" />
          <element id="library" level="project" name="Maven: org.thymeleaf:thymeleaf-spring4:3.0.13.RELEASE" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="springmvc-setup/web/Web" />
    </root>
  </artifact>
</component>